<.header>
  Edit Medication <%= @medication.id %>
  <:subtitle>Use this form to manage medication records in your database.</:subtitle>
</.header>

<.medication_form changeset={@changeset} action={~p"/medications/#{@medication}"} />

<.back navigate={~p"/medications"}>Back to medications</.back>
